<a href="https://colab.research.google.com/github/cruz-ana/Caderno_de_exercicios_Luiza_Code-Python/blob/main/Luiza_code_%F0%9F%92%99_Python_I_Lista_de_exerc%C3%ADcios_de_fixa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1)** O Python trabalha tipos de valores. Com os valores abaixo, dê o nome de seus tipos:

a. 1 - Int

b. 12.6 - Float

c. True - Bol

d. False - Bol

e. -543 - Int

f. -5.78 - Float

g. “copo” - Str

h. ‘Belo dia’ - Str

**2)** Digite cada linha abaixo no shell do Python e informe quais estão corretos e quais
apresentam erro:

❌ 1a

❌ a1

✅ 1.

✅ .2

✅ -.3

✅ 'agua"limpa'

❌ "agua""

"""teste 1 2 3"""

In [ ]:
1a

SyntaxError: ignored

In [ ]:
a1

NameError: ignored

In [ ]:
1.

1.0

In [ ]:
.2

0.2

In [ ]:
-.3

-0.3

In [ ]:
'agua"limpa'

'agua"limpa'

In [ ]:
"agua""

SyntaxError: ignored

In [ ]:
"""teste 1 2 3"""

'teste 1 2 3'

**3)** Determine qual é o resultado dos seguintes cálculos no Python:

In [ ]:
#Operadores matemáticos

a = (10+3)
b = (10-3)
c = (10*3)
d = (10/3)
e = (10/3.0)
f = (13/3)
g = (13/3.0)
h = (13//3.0)


print("Os resultados das operaçoes acima são",a,b,c,d,e,f,g,h)

Os resultados das operaçoes acima são 13 7 30 3.3333333333333335 3.3333333333333335 4.333333333333333 4.333333333333333 4.0

In [ ]:
#Ordem dos operadores
a = 5 + 30 * 20
b = (5 + 30) * 20
c = ((5 + 30) * 20) / 10
d = 5 + 30 * 20 / 10

print("""os resultados das operações a cima são:
a = {}
b = {}
c = {}
d = {}""".format(a,b,c,d))

os resultados das operações a cima são:
a = 605
b = 700
c = 70.0
d = 65.0

In [ ]:
# Operadores comparação

a = 2 < 3
b = 9 > 8
c = 1 == 1
d = 1 != 2
e = 1 != 1
f = 4 <= 4
g = 5 >= 6
h = 1 < 2 < 3
i = 1 < 2 < 2
j = 1 + 2 < 25 / 5

print(" Os resultados dessas oferações são:",a,b,c,d,e,f,g,h,i,j)

 Os resultados dessas oferações são: True True True True False True False True False True

In [ ]:
# Mais operadores matemáticos
a = 2 ** 4
b = 26 % 5

print(""" Os resultados dessas oferações são:
a = {}
b = {}""".format( a,b))

 Os resultados dessas oferações são:
a = 16
b = 1

In [ ]:
# Operadores lógicos
a = not True
b = not False
c = True and True
d = True and False
e = False and True
f = False and False
g = True or True
h = True or False
i = False or True
j = False or False
k = True or True and False
l = (True or True) and False
m = not True or False
n = not (True or False)
o = not (True and False) and (True or False)
p = 1 > 2 and 3 > 4
q = 1 > 2 and 3 < 4
r = 1 < 2 and 3 < 4
s = 1 + 2 and 3 + 4
t = 1 + 2 or 3 + 4
u =True and 3 > 5
v = False and 3 >5

print(a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v)

False True True False False False True True True False True False False False True False False True 7 3 False False

4) Qual será o valor final de x?

x = 10

x = x + 10

x = 100 - x

In [ ]:
x = 10
x = x + 10
x = 100 - x
print(x)

80

**5)** Resolva estes problemas em Python, guardando os valores e seus resultados em
variáveis diferentes.

a. Calcule a área de um quadrado cujo lado seja 2 cm

In [5]:

lado = 2
area = 2** lado


print("Resposta: Um quadrado cujo lado mede 2 cm tem como área {} cm²".format(area))

Resposta: Um quadrado cujo lado mede 2 cm tem como área 4 cm²

b. Uma mala custa R$120,00. Esta recebeu 5% de desconto. Quanto você irá pagar por ela.

In [4]:

preço_mala = 120
desconto = 0.05 * preço_mala
preço_descontado = preço_mala - desconto

print("Resposta: Como o desconto de 5% equivale a {}, o novo valor preço da mala será {}".format(desconto,preço_descontado))

Resposta: Como o desconto de 5% equivale a 6.0, o novo valor preço da mala será 114.0

c. Um carro está viajando a uma velocidade média de 100 Km/h, o trecho de viagem será 200 Km. Quantas horas irá demorar a viagem

In [19]:

velocidade_media =100
espaço = 200
tempo = (velocidade_media / espaço)

print("Resposta: Supondo que o carro se mova num movimento uniforme, podemos sumir que o tempo gasto seja de {} minutos.".format(tempo*60))

Resposta: Supondo que o carro se mova num movimento uniforme, podemos sumir que o tempo gasto seja de 30.0 minutos.

d. João tem 2 pirulitos, Maria 3 pirulitos e Sofia 1 pirulito. Calcule o total de pirulitos e sua média.

In [21]:


joao = 2
maria = 3
sofia = 1

soma = joao + maria + sofia
media = soma /3

print("no total o grupo possui {} pirulitos se fosse realizada uma media cada um ficaria com {} pirulitos".format(soma,media))

no total o grupo possui 6 pirulitos se fosse realizada uma media cada um ficaria com 2.0 pirulitos

e. Davi tem 13 anos e sua irmã tem 7 anos. Guarde na variável eh_mais_velho a
verificação se a idade de Davi é maior que a idade de sua irmã.

In [23]:
davi = 13
irma = 7

eh_mais_velho = davi > irma

print("Davi é mais velho que sua irmã? resposta: {}".format(eh_mais_velho))

Davi é mais velho que sua irmã? resposta: True

**6)** Qual será o valor de z? Qual seria outra forma de escrever este trecho de código?

In [27]:
z = 3
z += 2
z *= 6
z /= 5

print(z)

6.0

In [34]:
# outra forma de escrever este trecho de código
z = (3 + 2)*6/5

print(z)

6.0

7) Considere as seguintes variáveis:

Qual será o valor de resposta em cada linha:

In [37]:
ovo = 3.4
caju = 12.4

# resposta = ovo if 1 > 2 else caju
if 1>2 :
  print(ovo)
else:
  print(caju)

# resposta = ovo if ovo > caju else caju
if ovo > caju:
  print(ovo)
else:
  print(caju)

#resposta = ovo if ovo < caju else caju
if ovo < caju:
  print(ovo)
else:
  print(caju)

#resposta = 100 if ovo + caju > 15 else 200
if ovo + caju > 15:
  print(100)
else:
  print(200)
#resposta = 100 if ovo == 3 else 0
if ovo == 3:
  print(100)
else:
  print(0)

12.4
12.4
3.4
100
0

**8)** Qual é o resultado deste problema? Qual é o valor final da variável fim?

In [40]:
ab = 10
Ab = 20
aB = 30
AB = ab + Ab - aB
fim = AB + 1

print("Resposta: O valor final da variável fim é {}".format(fim))

Resposta: O valor final da variável fim é 1

**9)** Qual é o resultado de cada linha de comando do Python? Siga a ordem dos comandos

In [44]:
valor = input("Informe um valor: ")
print("Valor informado: ", valor)
tipo = type(valor)
valor_str = str (valor)
valor_int = int (valor)
valor_float = float(valor)
sao_iguais = valor_float == valor_int
print("Um float é igual a um int?", sao_iguais)

Informe um valor: 7
Valor informado:  7
Um float é igual a um int? True

10) Crie o seguinte programa Python no arquivo lista03_02.py: Colete o nome da
pessoa, a cidade de nascimento dela, e o ano em que ela nasceu. Depois você irá mostrar
os dados coletados em linhas diferentes. E também, deverá informar quantos anos a
pessoa terá no ano 2030